* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	scrollbar-width: none;
}
body {
	margin: 0;
}
form input[type=submit] {
	width: 30%;
	margin: 0 auto;
	background: #7F56C3;
	color: white;
}
form input {
	display: block;
	width: 100%;
	padding: 5px;
	margin-bottom: 9px;
	border-radius: 7px;
	border: 0;
}
#bait {
	display: none;
}
.main {
	height: 100vh;
	display: grid;
	grid-template-columns: 350px auto;
}
nav {
	height: 100%;
	background: #7F56C3;
	overflow-y: scroll;
	scroll-behavior: smooth;	
}
section {
	height: 100%;
}
nav header {
	background: #6D44BA;
	height: 70px;
}
::-webkit-scrollbar {
	display: none;
}
.chatphoto {
	height: 70px;
	border-radius: 50%;
	width: 70px;
	object-fit: cover;
	align-self: center;
}
.chatroom {
	display: grid;
	padding: 10px;
	grid-template-columns: 80px auto;
	height: 85px;
}
.chatroom:hover {
	background: #5F35A7;
	cursor: pointer;
}
.chatlist {
	color: white;	
}
.chatroom h3 {
	align-self: center;
}
i {
	color: white;
}
header {
	display: grid;
	grid-template-columns: 70px auto auto 70px;
}
a {
	color: #f2f2f2;
	align-self: center;
	text-align: center;
	font-size: 24px;
}
i:hover {
	color: #5F35A7;
	cursor: pointer;
}
.message {
	display: block;
	background: #7F56C3;
	color: white;
	width: max-content;
	padding: 13px;
	margin: 10px;
	border-radius: 10px;
}
.user {
	margin-right: 10px;
	margin-left: auto;
}
.messagelist {
	overflow-y: scroll;
	scroll-behavior: smooth;
}
#rightpanel {
	display: grid;
	grid-template-rows: auto 64px;
}
.textfield {
	padding: 10px;
	display: block;
	background: #cfb9f2;
}
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	resize: none;
	height: 40px;
	border: 0;
	width: 100%;
	border-radius: 15px;
	padding: 10px;
}
#rightpanel div {
	display: grid;
	grid-template-columns: auto 100px;
	background: #cfb9f2;
}
#emojimenu span {
	font-size: 24px;
}
#emojimenu span:hover {
	cursor: pointer;
	background: gray;
}
.width-250 {
	width: 250px;
}
.welcome {
	display: grid;
	grid-template-rows: 95% auto;
	width: 1000px;
	margin: 0 auto;
	height: 100vh;
}
.welcome h4 {
	color: #bdbdbd;
}
.welcome h1 {
	font-size: 50px;
	background: -webkit-linear-gradient(#9267d8, #6D44BA);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
img {
	width: 100%;
}
.splitter {
	display: grid;
	grid-template-columns: 40% auto;
	width: 100%;
	height: max-content;
	align-self: center;
}
.button {
	color: #f2f2f2;
	align-self: center;
	text-align: center;
	font-size: 24px;
	background: #7F56C3;
	text-decoration: none;
	padding: 10px;
	display: block;
	margin: 5px;
	border-radius: 13px;
}
.button:hover{
	background: #9167d6;
}
footer {
	text-align: center;
}
form h4 {
	margin-bottom: 18px;
}