* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	scrollbar-width: none;
}
body {
	margin: 0;
}
form input[type=submit] {
	width: 30%;
	margin: 0 auto;
	background: var(--primary);
	color: var(--text);
}
form input[type=submit]:hover {
	background: var(--primary-light);
	cursor: pointer;
}
form input {
	display: block;
	width: 100%;
	padding: 5px;
	margin-bottom: 9px;
	border-radius: 7px;
	border: 0;
}
#bait {
	display: none;
}
.main {
	height: 100vh;
	display: grid;
	grid-template-columns: 350px auto;
}
nav {
	height: 100%;
	background: var(--primary);
	overflow-y: scroll;
	scroll-behavior: smooth;	
}
section {
	height: 100%;
}
::-webkit-scrollbar {
	display: none;
}
.chatphoto {
	height: 70px;
	border-radius: 50%;
	width: 70px;
	object-fit: cover;
	align-self: center;
}
.chatroom {
	display: grid;
	padding: 10px;
	grid-template-columns: 80px auto 80px;
	height: 85px;
}
.chatroom:hover {
	background: var(--primary-light);
	cursor: pointer;
}
.chatroom .fas {
    color: var(--primary);
    font-size: x-large;
    text-align: center;
    height: max-content;
}
.chatroom .fas:hover {
    color: var(--tertiary);
}
.chatroom span {
	align-self: center;
}
.chatlist {
	color: var(--text);	
}
.chatroom h3 {
	align-self: center;
}
i {
	color: var(--text);
	transition-property: color;
	transition-duration: 0.5s;
}
header {
	background: var(--secondary);
	height: 50px;
	display: grid;
	grid-template-columns: 40px auto 40px;
}
a {
	color: var(--white);
	align-self: center;
	text-align: center;
	font-size: 24px;	
}
i:hover {
	color: var(--dark);
	cursor: pointer;
}
.message {
	display: block;
	background: var(--dark);	
	color: var(--text);
	width: max-content;
	padding: 13px;
	margin: 10px;
	border-radius: 10px;
	overflow: hidden;
	max-width: 300px;
	text-overflow: clip;
	overflow-wrap: break-word;
}
.user {
	display: block;
	margin-right: 10px;
	margin-left: auto;
	background: var(--primary);
}
.nick {
	background: none;
	width: max-content;
	padding-left: 10px;
	padding-right: 10px;
}
.messagelist {
	overflow-y: scroll;
	scroll-behavior: smooth;
}
#rightpanel {
	display: grid;
	grid-template-rows: auto 64px;
}
.textfield {
	padding: 10px;
	display: block;
	background: var(--tertiary);
}
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	resize: none;
	height: 40px;
	border: 0;
	width: 100%;
	border-radius: 15px;
	padding: 10px;
}
#rightpanel div {
	display: grid;
	grid-template-columns: auto 40px 40px 10px;
	background: var(--tertiary);
}
#emojimenu span {
	font-size: 24px;
}
#emojimenu span:hover {
	cursor: pointer;
	background: var(--primary);
}
.width-250 {
	width: 250px;
}
.welcome {
	display: grid;
	grid-template-rows: 95% auto;
	width: 1000px;
	margin: 0 auto;
	height: 100vh;
}
.welcome h4 {
	color: #bdbdbd;
}
.welcome h1 {
	font-size: 50px;
	background: -webkit-linear-gradient(var(--primary), var(--secondary));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
img {
	width: 100%;
}
.splitter {
	display: grid;
	grid-template-columns: 40% auto;
	width: 100%;
	height: max-content;
	align-self: center;
}
.button {
	color: #f2f2f2;
	align-self: center;
	text-align: center;
	font-size: 24px;
	background: var(--primary);
	text-decoration: none;
	padding: 10px;
	display: block;
	margin: 5px;
	border-radius: 13px;
	transition-property: background;
	transition-duration: 0.5s;	
}
.button:hover{
	background: var(--primary-light);
	cursor: pointer;
}
footer {
	text-align: center;
}
form h4 {
	margin-bottom: 18px;
}
#usersettings {
	text-align: center;
}
#usersettings img, #changeavatar img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 75px;
	margin: 0 auto;
	display: block;
	transition-property: opacity;
	transition-duration: 0.5s;
	margin-bottom: 10px;
}
#usersettings img:hover {
	cursor: pointer;
	opacity: 0.5;
}
#usersettings .button {
	margin-top: 20px;
}
#usersearch {
	background: var(--primary);
	border: 0;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: var(--text);
	padding-left: 7px;
}
.signindiv {
	margin-top: 40px;
	width: 250px;
}
header ::placeholder {
    color: var(--tertiary);
    opacity: 1;
}
.selected, .selected:hover {
	background: var(--secondary);
}
#userlist .chatroom, #userlist .chatroom:hover {
	background: none;
	cursor: unset;
}
select {
	width: 80%;
	font-size: 17px;
}
@media (min-width: 1300px){
	.message {
		max-width: 500px;
	}
}